
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
    <script>
        function ResetForm() {
            document.getElementById('TxtFirstName').value = "";
            document.getElementById('TxtLastName').value = "";
            document.getElementById('TxtSalary').value = "";
        }
    </script>
</head>
<body>
    <div>
        <form action="/Employee/SaveEmployee" method="post">
            First name: <input type="text" id="TxtFirstName" name="Firstname" value="" />
            Last name: <input type="text" id="TxtLastName" name="LastName" value="" />
            Salary: <input type="text" id="TxtSalary" name="Salary" value=""/>
            <input type="submit" name="SubmitButton" value="Save Employee" />
            <input type="button" name="ResetButton" value="Reset" onclick="ResetForm();" />
            <input type="submit" name="SubmitButton" value="Cancel" />
        </form>
    </div>
</body>
</html>
